@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a {
  text-decoration: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decotation: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  background: #E5E5E5;
}

._ibg {
  position: relative;
}
._ibg img {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/*========================PAGE=======================================================*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*========================PAGE=======================================================*/
.header {
  /*position: absolute;*/
  width: 100%;
  top: 0;
  left: 0;
  background: #FFFFFF;
  z-index: 50;
  border-bottom: 1px solid #D6D6D6;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}

.header__logo {
  color: #01996D;
  font-size: 30px;
}

.menu {
  padding: 5px 0;
}

.header__menu {
  margin: 0 0 0 120px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin: 0 72px 0 0;
}

.menu__link {
  color: #292929;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0 0 0;
}

.signin__btn {
  color: #000;
  background: #fff;
  padding: 10px 50px;
  min-height: 50px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.green__btn {
  color: #fff;
  min-height: 50px;
  padding: 10px 50px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  background: #01996D;
  border: 1px solid #01996D;
  border-radius: 4px;
}

.main-block {
  position: relative;
  padding: 0px 0 150px 0;
}

.main-block__body {
  z-index: 2;
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 440px;
}
.main-block__body > *:not(:last-child) {
  margin: 0 0 50px 0;
}

.main-block__title {
  color: #01996D;
  font-family: "Georgia";
  font-weight: 700;
  font-size: 65px;
  line-height: 74px;
}

.main-block__text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #484848;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .main-block__image img {
    -o-object-position: right;
       object-position: right;
  }
}
.how-works {
  padding: 149px 0;
  background: #fff;
}

.title {
  font-family: "Lato";
  font-weight: 600;
  font-size: 24px;
  line-height: 157%;
  color: #424242;
  margin: 0 0 35px 0;
}

.how-works__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.how-works__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 992px) {
  .how-works__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0;
  }
  .title {
    text-align: center;
  }
}
.how-works-item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how-works-item__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.how-works-item__big-text {
  font-family: "Georgia";
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #01996D;
}

.how-works-item__text {
  max-width: 600px;
  font-family: "Lato";
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
}

/*=======================STEPS==========================*/
.steps {
  padding-bottom: 300px;
  background: #fff;
}

.steps__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -47.5px;
}

.steps__column {
  padding: 0 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.steps__column:nth-child(2) {
  position: relative;
  top: 280px;
}
.steps__column:nth-child(3) {
  position: relative;
  top: 50px;
}

.steps__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.steps__subimage {
  margin-bottom: -20px;
}

.steps_item-title {
  font-family: "Georgia";
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  margin: 0 0 55px 0;
}

.steps__item-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: "Lato";
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
  margin: 0 0 60px 0;
}

.steps__item-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 390px;
          flex: 0 0 390px;
}

/*===================STORY============================*/
.story {
  background: #245852;
}

.story__row {
  padding: 310px 0 260px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.story__body {
  max-width: 580px;
}

.story__label {
  font-family: "Georgia";
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #FFFFFF;
  margin: 0 0 33px 0;
}

.story__text {
  font-family: "Lato";
  font-size: 25px;
  line-height: 157%;
  color: #FFFFFF;
  margin: 0 0 57px 0;
}

.story__image img {
  border-radius: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 685px;
          flex: 0 0 685px;
}

/*=========================OUR-PRODUCT================*/
.our-product {
  padding: 120px 0 168px 0;
}

.ourproduct__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-product__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 638px;
          flex: 0 0 638px;
  margin: 0 -43.3px;
}
.our-product__image img {
  border-radius: 25px;
}

.our-product__body {
  max-width: 684px;
  padding: 0 43.3px;
}
.our-product__body > *:not(:last-child) {
  margin: 0 0 35px 0;
}

.our-product__title {
  text-align: left;
}

.our-product__label {
  font-family: "Georgia";
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #01996D;
}

.our-product__text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #484848;
}

.card {
  position: relative;
  max-width: 296px;
  max-height: 293px;
  background: #fff;
}

.card__title {
  color: #000;
}

.card__name {
  color: #000;
}

/*===================FOOTER============================*/
.footer {
  background: #245852;
  min-height: 654px;
}

.footer-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-menu__item {
  padding: 60px 0;
}

.footer-menu__link {
  font-family: "Lato";
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
}

.main-link {
  font-weight: 600;
  font-size: 40px;
  /*font-family: 'Avenir';*/
  font-weight: 900;
  line-height: 55px;
}